@use "@/style/abstracts/varibles" as *;
@use "@/style/abstracts/mixin" as *;
//disable selection text
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//adding padding when showing modal

.manual-overflow-padding {
  padding-right: 17px;
}

.manual-overflow-padding .header {
  padding-right: 17px;
}

//reset sass start

*, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input {
  outline: none;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

  -webkit-appearance: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

//reset sass end