@import "varibles";
@import "mixin";

//reset style start

*, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
//reset style end

body {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $fontInter;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: $colorGrey;
}

.wrapper {
  @include wrapper;
}

.button-orange {
  @include buttonOrange;
}

.button-green {
  @include buttonGreen;
}

.button-orange-another {
  @include buttonOrangeAnother;
}

.section-title {
  @include sectionTitle;
}

@media(max-width: 1440px) {
  .wrapper {
    margin: 0 10px;
  }
}

@media(max-width: 1024px) {
  .section-title {
    font-size: 48px;
    line-height: 47px;
  }
}

@media(max-width: 360px) {

  .button-orange-another {
    padding: 10px 14px;
    font-size: 14px !important;
    line-height: 17px !important;
    letter-spacing: -0.02em;
  }

  .button-orange {
    font-size: 14px !important;
    line-height: 17px !important;
    padding: 10px 14px;
  }

  .section-title {
    font-size: 24px;
    line-height: 24px;
  }
}