@use "@/style/abstracts/varibles" as *;
@use "@/style/abstracts/mixin" as *;
//inner start

.inner {
  margin-bottom: 80px;

  &__title {
    max-width: 1440px;
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 128px;
    line-height: 125px;
    letter-spacing: -0.05em;
  }

  &__info {
    display: flex;
    align-items: flex-start;
    gap: 16px;

    &-card {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      overflow: hidden;
      max-width: 612px;
      width: 100%;
      height: 382px;
      padding: 20px 26px;
      border-radius: 30px;

      &.small {
        max-width: 404px;
      }
    }

    &-image {
      z-index: -1;
      position:absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-block {
      max-width: 429px;

      &__link {
        display: inline-block;
        margin-bottom: 8px;
        font-size: 18px;
      }

      &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 93.023%;
        letter-spacing: -1.8px;

        &.white {
          color: $colorWhite;
        }
      }
    }
  }

  &__search {
    margin-bottom: 89px;
  }
}

@media(max-width: 1440px) {
  .inner__title {
    font-size: 114px;
    line-height: 112px
  }

  .inner__info-card {
    max-width: 504px;

    &.small {
      max-width: 332px;
    }
  }
}

@media(max-width: 1024px) {
  .inner__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inner__title {
    margin-bottom: 64px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.045em;
  }
  .inner__form {
    position: relative;
    max-width: 682px;
    width: 100%;
    margin-bottom: 64px;
  }
  .inner__info {
    flex-direction: column;
    max-width: 504px;
    width: 100%;

    &-card {

      &.small {
        max-width: 504px;
      }
    }
  }
}

@media(max-width: 744px) {
  .inner__title {
    font-size: 58px;
    line-height: 57px;
  }

  .inner__form {
    max-width: 664px;

    &-search {
      height: 88px;
    }
  }

}

@media(max-width: 550px) {
  .inner__info {
    &-card {
      height: 240px;
    }
    
  }
}

@media(max-width: 360px) {
  .inner__title {
    text-align: start;
    font-size: 28px;
    line-height: 27px;
  }

  .inner__form {

    &-search {
      height: 56px;
      font-size: 20px;

      &::placeholder {
        font-size: 20px;
      }
    }
  }

  .inner__info-block {
    &__title {
      font-size: 20px;
      letter-spacing: -1px;
    }
  }

}

//inner end

//reviews start

.reviews {
  margin-bottom: 80px;
  overflow: hidden;

  &__slider{
    margin-bottom: 24px;
    &.swiper-container {
      overflow: visible;
    }
    &-item.swiper-slide {
      position: relative;
      width: 100%;
      height: 325px;
      padding: 20px;
      border-radius: 30px;
      background: $colorWhite;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.06);
    }

    &-title {
      max-width: 287px;
      margin-bottom: 24px;
      font-size: 20px;
      font-weight: 600;
      line-height: 112.523%;
      letter-spacing: -1px;
    }

    &-text {
      max-width: 366px;
      margin-bottom: 32px;
      font-size: 16px;
      font-weight: 400;
      line-height: 112.523%;
      letter-spacing: -0.8px;
    }

    &-author {
      position: absolute;
      bottom: 20px;
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: auto;

      &__img {
        width: 87px;
        height: 87px;
        border-radius: 50%;
      }

      &__name {
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 600;
        line-height: 98.023%;
        letter-spacing: -1px;
      }

      &__post {
        font-size: 18px;
        font-weight: 500;
        line-height: 98.023%;
        letter-spacing: -0.9px;
      }
    }

    .swiper-wrapper {
      max-height: 325px;
    }

    .swiper-button-next {
      right: -10px;
    }

    .swiper-button-prev {
      left: -10x;

    }

  }
  &__more {
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 24px;
    color: $colorOrangeM;

    &:hover {
      color: #FF8A36;
    }
  }
}

//reviews end

// recommendation start

.recommendation {
  margin-bottom: 80px;

  &__card {
    min-width: 405px;
  }
}

.recommendation__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 405px));
  grid-template-rows: repeat(2, 1fr);
  gap: 30px 20px;
  width: fit-content;
  margin: 0 auto 24px auto;
}

// recommendation end

@media(max-width: 850px) {

  .reviews__slider-title {
    max-width: 100%;
  }

  .reviews__slider-text {
    max-width: 100%;
  }
}


@media(max-width: 551px) {

  .reviews__slider {

    &-title {
      font-size: 18px;
      line-height: 112.523%;
      letter-spacing: -0.9px;
    }

    &-text {
      font-size: 14px;
      line-height: 112.523%;
      letter-spacing: -0.7px;
    }

    .swiper-button-next, .swiper-button-prev {
      font-size: 25px;
    }
  }


}
// recommendation end


