@import "main";


.applicant-profile__block {
  position: relative;
}

.applicant-profile__block:not(:last-of-type) {
  margin-bottom: 64px;
}

// personal data start

.applicant-profile__block.data {
  display: inline-grid;
  grid-template-columns: repeat(2, minmax(300px, 384px));
  align-items: end;
  gap: 24px;
}

.applicant-profile__block.block__full-name {
  justify-content: flex-start;
}

.applicant-profile__block.data {
  display: inline-grid;
  grid-template-columns: repeat(2, minmax(300px, 384px));
  align-items: end;
  gap: 24px;
}

.applicant-profile__block.block__full-name {
  justify-content: flex-start;
}

.applicant-profile__block.start {
  justify-content: start;
  gap: 24px;
}

.applicant-profile__btn-edit {
  @include editButton;
  right: -10px;
  bottom: -10px;
}

.applicant-profile__btn-edit.field {
  top: -20px;
}

.applicant-profile__btn-edit.field.about {
  top: -60px;
}

//

.applicant-profile__field.contact {
  position: relative;
  width: 100%;
}

.applicant-profile__input.connect {
  padding: 20px 24px 20px 72px;
}

.applicant-profile__field {
  max-width: 383px;
}

.applicant-profile__input {
  width: 100%;
  padding: 20px 24px;
  border-radius: 16px;
  border: 2px solid $colorGreenM;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: -1.2px;
}

.applicant-profile__field__name {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 400;
  line-height: 23.5px;
  letter-spacing: -1.2px;
}

.applicant-profile__radio-wrapper {
  @include displayFlex;
  justify-content: start;
  max-width: 125px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.applicant-profile__radio {
  display: none;
}

.applicant-profile-filter-label {
  display: flex;
  align-items: center;

  &:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 16px;
    border-radius: 50%;
    background-image: url("@/assets/vacancy/radio.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.applicant-profile__radio:checked + .applicant-profile-filter-label:before {
  background-image: url("@/assets/vacancy/radio-active.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.contact-mobile {
  display: none;
  margin-bottom: 48px;
}

@media(max-width: 744px) {

  .applicant-profile__block.data {
    grid-template-columns: minmax(260px, 383px);
    gap: 0;
  }
}

.applicant-profile__block:not(:last-of-type) {
  margin-bottom: 48px;
}

.applicant-profile__field {

  &:not(:last-of-type) {
    margin-bottom: 24px;
  }

}

@media(max-width: 450px) {

  .applicant-profile__input {
    padding: 15px 20px;
    font-size: 20px;
  }

  .applicant-profile__input.connect {
    padding: 15px 20px 15px 67px;
  }

  .applicant-profile__block:not(:last-of-type) {
    margin-bottom: 48px;
  }
}