//@import "varibles";
//@import "mixin";
@import "main";

.footer {
  margin-top: auto;
  background-color: #373E47;

  &__wrapper {
    padding: 40px 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    max-width: 1043px;
    width: 100%;
    margin-bottom: 143px;

    &-item {
      display: flex;
      flex-direction: column;
    }
    &-link {
      position: relative;
      width: fit-content;
      line-height: 24px;
      color: $colorWhite;
      &:first-of-type {
        margin-bottom: 10px;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $colorWhite;
        transition: all .3s ease-in-out;
      }

      &:hover:after {
        width: 100%;
      }
    }
  }
  &__logo {
    display: block;
    width: 50px;
    height: 50px;
    color: $colorWhite;
  }
  &__bottom {
    @include displayFlex;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: $colorWhite;
  }
}

@media(max-width: 768px) {
  .footer__bottom {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .footer__list {
    flex-direction: column;
    margin-bottom: 40px;

    &-link {
      margin-bottom: 14px;
    }

    .footer-logo {
      margin-bottom: 22px;
    }

  }
}

