//@import "varibles";
//@import "mixin";
@import "main";

.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $colorWhite;

  &__wrapper {
    @include displayFlex;
    padding: 40px 0 20px 0;
  }

  &__logo {
    width: 50px;
    height: 50px;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
    max-width: 296px;
    width: 100%;

    &.active {
      visibility: visible;
      height: 100vh;

      .header__nav-list {
        opacity: 1;
      }
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
    }

    &-item {

    }
  }


  &__button {
    width: 25px;
    height: 25px;

  }

  &__menu-btn {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;

    &.active {
      .header__menu-btn__line {
        &:nth-child(1) {
          top: 14px;
          transform: rotate(45deg);
          transition: top .15s, transform .2s .15s;
        }

        &:nth-child(2) {
          bottom: 14px;
          transform: rotate(-45deg);
          transition: bottom .15s, transform .2s .15s;
        }

        &:nth-child(3) {
          opacity: 0;
        }
      }
    }

    &__line {
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $colorOrangeM;

      &:nth-child(1) {
        top: 6px;
        transition: top .15s .2s, transform .2s;
      }

      &:nth-child(2) {
        bottom: 6px;
        transition: bottom .15s .2s, transform .2s;
      }

      &:nth-child(3) {
        transition: opacity .05s .15s;
      }
    }
  }
}




.header-supernova{
  position: relative;
  max-width: 257px;

  .supernova__btn {
    width: 50px;
    height: 50px;
    background-image: url('@/assets/header/anonim-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .supernova-wrapper {
    @include displayFlex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    right: 0;
    width: 257px;
    opacity: 0;
    overflow: hidden;
    height: 0;
    border-radius: 10px;
    background-color: $colorWhite;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    transition: all .2s ease;

    &.active {
      height: fit-content;
      opacity: 1;
      overflow: visible;
    }

    &__name {
      font-family: $fontMont;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.28px;
      cursor: pointer;
    }

    .supernova-wrapper-list {
      padding: 20px;


      .supernova-wrapper-item {
        padding-bottom: 8px;
        &:first-child {
          padding-bottom: 24px;
        }
        &--mobile {
          display: none;
        }
        &--section {
          padding: 16px 0;
          border-top: 1px solid $colorOrangeM;
          border-bottom: 1px solid $colorOrangeM;
        }
        &--padding-bottom {
          padding-bottom: 16px;
        }
        &--padding-top {
          padding-top: 16px;
        }
      }

      .supernova-wrapper-block {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        cursor: pointer;
      }

      .supernova-wrapper-image {
        width: 24px;
        height: 24px;
      }

      .supernova-wrapper-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: -2%;
        color: $colorBlack;
      }

      .supernova-wrapper-sublist {
        height: 0;
        overflow: hidden;
        transition: all .1s ease;

        &.active {
          padding-top: 17px;
          height: 70px;
          overflow: visible;
        }

        &__link {
          font-size: 12px;
          font-weight: 400;
          line-height: 15px;
          letter-spacing: -2%;
          cursor: pointer;
          &:not(:last-child) {
            margin-bottom: 8px;
          }
        }
      }

      .supernova-wrapper-title {
        @include displayFlex;
        display: inline-flex;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          right: -18px;
          width: 18px;
          height: 18px;
          background-image: url("@/assets/header/arrow-icon.svg");
          background-position: center;
          background-repeat: no-repeat;
          transition: all .3s ease-in-out;
        }
      }

      .supernova-wrapper-title.active:after {
        transform: rotate(180deg);
      }

      .supernova-sublist-title {
        font-size: 14px;
      }
    }
  }

  .supernova-exits-btn {
    font-family: $fontMont;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
    color: $colorError;
  }
}

.modal-switch-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
}

.modal-switch__block {
  @include displayFlex;
  gap: 16px;
}

.modal-switch__btn {
  padding: 28px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 800;
  line-height: 167%;
  color: $colorWhite;
  background-color: $colorOrangeM;
}

.btn--green {
  background-color: $colorGreenM;
}

.modal-form__hide {
  cursor: pointer;
}

@media(max-width: 1650px) {
  .header__wrapper {
    margin: 0 40px;
  }
}

@media(max-width: 768px) {

  .header {
    &__nav {

      &-list {
        display: none;
      }
    }
  }
  .header-supernova .supernova-wrapper .supernova-wrapper-list .supernova-wrapper-item--mobile  {
    display: block;
  }
}

@media(max-width: 551px) {

  .header__wrapper {
    padding: 20px 0;
  }

}

@media (max-width: 360px) {
  .header__wrapper {
    margin: 0 20px;
  }
}


