@import "varibles";
@import "mixin";
@import "main";

//inner start

.inner {
  margin-bottom: 80px;
}

.inner-title {
  max-width: 1440px;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 128px;
  line-height: 125px;
  letter-spacing: -0.05em;
}

.inner-form {
  position: relative;
  max-width: 1025px;
  margin-bottom: 89px;

  .inner-form__search {
    width: 100%;
    height: 90px;
    padding: 0 20px;
    border-radius: 40px;
    border: none;
    background-color: #D8E2E6;
    font-size: 25px;
    font-weight: 700;

    &:focus{
      outline: none;
    }

    &::placeholder {
      font-size: 25px;
    }
  }

  .inner-form__button {
    position: absolute;
    right: 22px;
    top: 42px;
    width: 21px;
    height: 21px;
    transform: translateY(-25%);
    background-image: url("@/assets/inner/search-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: all .15s ease-in-out;

    &:hover {
      scale: 120%;
    }
  }
}

.inner-info {
  @include displayFlex;
  gap: 10px;

  .inner-info__card {
    position: relative;

    .info__card-block {
      position: absolute;
      bottom: 26px;
      left: 18px;
      max-width: 429px;

      .info__card-block__link {
        display: block;
        width: fit-content;
        margin-bottom: 8px;
      }

      .info__card-block__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 33px;
        letter-spacing: -0.05em;
        color: $colorBlack;
      }
      .white {
          color: $colorWhite;
      }
    }
  }
}

@media(max-width: 1440px) {
  .inner-title {
    font-size: 114px;
    line-height: 112px
  }

  .inner-info {
    .inner-info__card {
    .info__card-block {
      .info__card-block__title {
        font-size: 30px;
      }
    }
  }
  }
}

@media(max-width: 1024px) {
  .inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inner-title {
    margin-bottom: 64px;
    font-size: 80px;
    line-height: 78px;
    text-align: center;
    letter-spacing: -0.045em;
  }
  .inner-form {
    position: relative;
    max-width: 682px;
    width: 100%;
    margin-bottom: 64px;
  }

  .inner-info {
    flex-direction: column;
    gap: 10px;

    .inner-info__card {
      max-width: 504px;
    }
  }
}

@media(max-width: 744px) {
  .inner-title {
    font-size: 58px;
    line-height: 57px;
  }

  .inner-form {
    max-width: 664px;
    //width: auto;

    .inner-form__search {
      height: 88px;
    }
  }

  .info__card-block__title {
    font-size: 34px;
  }
}

@media(max-width: 360px) {
  .inner-title {
    text-align: start;
    font-size: 28px;
    line-height: 27px;
  }

  .inner-form {

    .inner-form__search {
      height: 56px;
      font-size: 20px;

      &::placeholder {
      font-size: 20px;
    }
    }

    .inner-form__button {
      width: 31px;
      height: 30px;
      transform: scale(0.7) translateY(55%);
    }
  }

  .inner-info {

    .inner-info__card {
      width: 320px;

      .info__card-block__title {
        font-size: 20px  !important;
        line-height: 19px !important;
      }
    }

  }
}
//inner end

//reviews start

.reviews {
  margin-bottom: 80px;
}

.reviews-slider {
  // display: flex;
  // align-items: center;
  // flex-wrap: wrap;
  // gap: 10px;
  // width: 100%;
  margin-bottom: 20px;
}

.reviews-more {
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  line-height: 24px;
  color: $colorOrangeM;

  &:hover {
    color: #FF8A36;
  }
}
//reviews end

// recommendation start

.recommendation {
  margin-bottom: 80px;
}

.recommendation-block {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 405px));
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 24px;
}


@media(max-width: 1440px) {
  .recommendation-block {
    grid-template-columns: repeat(3, minmax(300px, 405px));
    grid-template-rows: repeat(2, 1fr);
  }
}
// recommendation end


