@import "varibles";
@import "mixin";

//disable selection text
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//adding padding when showing modal

.manual-overflow-padding {
  padding-right: 17px;
}

.manual-overflow-padding .header {
  padding-right: 17px;
}

//reset sass start

*, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input {
  outline: none;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

  -webkit-appearance: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

textarea {
  outline: none;
}
//reset sass end

body {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: $fontInter;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: $colorGrey;
}

.main {
  margin-top: 158px;
}

.wrapper {
  @include wrapper;
}

.button-orange {
  @include buttonOrange;
}

.button-green {
  @include buttonGreen;
}

.button-orange-another {
  @include buttonOrangeAnother;
}

.section-title {
  @include sectionTitle;
}

.dropzone {
  .dz-message {
    margin: 0;
    font-size: 0;
  }
  .dz-preview {
    width: 100%;
    margin: 0;
    &.dz-image-preview {
      background: transparent;
    }
    .dz-image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .dz-error-message {
      left: 0;
      width: 100%;
    }
    .dz-remove {
      z-index: 100;
      position: absolute;
      top: 20px;
      right: 30px;
      width: 24px;
      height: 24px;
      font-size: 0;
      background-image: url("@/assets/trash.svg");
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }
  }
}

@media(max-width: 1650px) {
  .wrapper {
    margin: 0 40px;
  }
}

@media(max-width: 1024px) {
  .section-title {
    font-size: 48px;
    line-height: 47px;
  }
}

@media(max-width: 550px) {

  .main {
    margin-top: 100px;
  }

}

@media(max-width: 450px) {
  .wrapper {
    margin: 0 20px;
  }

  .button-orange-another {
    height: 37px;
    padding: 10px 14px;
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.02em;
  }

  .button-orange {
    height: 37px;
    padding: 10px 14px;
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.02em;
  }

  .button-green {
    height: 37px;
    padding: 10px 14px;
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.02em;
  }

  .button-green-another {
    height: 37px;
    padding: 10px 14px;
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.02em;
  }
}

@media(max-width: 450px) {

  .section-title {
    font-size: 24px;
    line-height: 24px;
  }
}
