@mixin wrapper {
  max-width: 1650px;
  margin: auto;
}

@mixin displayFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin buttonOrange {
  padding: 15px 25px;
  border-radius: 60px;
  outline: 2px solid $colorOrangeM;
  font-size: 20px;
  color: $colorOrangeM;
  transition: all .2s linear;

  &:hover {
    color: #FF8A36;
    border-color: #FF8A36;
  }
}

@mixin buttonGreen {
  padding: 15px 25px;
  border-radius: 60px;
  background-color: $colorGreenM;
  font-size: 20px;
  color: $colorWhite;
  transition: all .15s linear;

  &:hover {
    background-color: #00B3C9;
  }
}

@mixin buttonGreenAnother {
  padding: 15px 25px;
  border-radius: 60px;
  background-color: $colorWhite;
  font-size: 20px;
  color: $colorGreenM;
  border: 2px solid $colorGreenM;
  transition: all .15s linear;

  &:hover {
  }
}

@mixin buttonOrangeAnother {
  // height: 57px;
  padding: 15px 25px;
  border-radius: 60px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.36px;
  color: #FFE9DE;
  background-color: $colorOrangeM;
  transition: all .2s linear;

  &:hover {
    background-color: #FF8A36;
  }
}

@mixin sectionTitle {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 64px;
  line-height: 63px;
  letter-spacing: -0.05em;
}
