@import "varibles";
@import "mixin";

//inner start

.inner {
  margin-bottom: 80px;
}

.inner-slider {
  @include displayFlex;
  width: 100%;
  margin-bottom: 80px;
}

.inner-slider__item {
  position: relative;
  max-width: 504px;
}

.inner-slider__content {
  position: absolute;
  left: 18px;
  bottom: 40px;

  .slider-item__link {
    display: inline-block;
    margin-bottom: 10px;
  }

  .inner-slider__title {
    font-family: $fontInter;
    font-size: 34px;
    font-weight: 700;
    line-height: 34px;
  }

  .inner-slider__title.white {
    color: $colorWhite;
  }
}

.inner-search {
  @include displayFlex;
  gap: 24px;
  max-width: 831px;
}

.inner-search__wrapper {
  position: relative;
  width: 682px;

  .inner-search__input {
    width: 100%;
    height: 72px;
    padding: 0 20px;
    border-radius: 40px;
    background-color: $colorBgInput;
    font-size: 25px;
    font-weight: 700;
  }

  .inner-search__btn {
    position: absolute;
    top: 50%;
    right: 30px;
    width: 21px;
    height: 21px;
    transform: translateY(-50%);
    background-image: url('../assets/inner/search-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    transition: all .15s ease-in-out;

    &:hover {
      transform: scale(1.2) translateY(-50%);
    }
  }

}

.inner-filter-btn {
  display: none;
  width: 147px;
  height: 72px;
  border-radius: 40px;
  background-color: $colorGreenM;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.36px;
  color: $colorWhite;
}

// inner end
//jobs_opening start

.vacancy-filter-and-list {
  display: flex;
  margin-bottom: 52px;
}

.vacancy-quantity {
  margin-bottom: 64px;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
}

.vacancy-list {
  display: flex;
  flex-direction: column;
  width: 1251px;
}

.vacancy-item {
  max-width: 1251px;
  padding: 40px;
  color: $colorGrey;
  border-radius: 30px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.vacancy-list__pagination {
  @include displayFlex;
  padding: 0 40px;

  .vacancy-list__page {
    padding: 8px;
    border-radius: 10px;
    border: 3px solid $colorOrangeM;
    font-size: 20px;
    font-weight: 600;
    color: $colorBlack;
  }
}

.vacancy-item__header {
  @include displayFlex;
}

.vacancy-item__block {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 32px;
  }
}

.vacancy-item__title {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
  line-height: 98.023%;
  letter-spacing: -1.6px;
}

.vacancy-item__salary {
  font-size: 32px;
  font-weight: 500;
  line-height: 98.023%;
  letter-spacing: -1.6px;
}

.vacancy-item__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 98.023%;
  letter-spacing: -1px;

  &:first-child {
    margin-bottom: 16px;
  }
}

.vacancy-item__company {
  margin-bottom: 8px !important;
}

.vacancy-item__experince {
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  background-color: $colorBlueBg;
}

.vacancy-item__subtitle {
  color: $colorOrangeM
}

.vacancy-item__btns {
  @include displayFlex;
  max-width: 358px;
  gap: 14px;
}

//jobs_opening end


@media(max-width: 1024px) {

}

@media(max-width: 1024px) {

  .inner-filter-btn {
    display: block;
  }

  .vacancy-falters {
    display: none;
  }

}

@media(max-width: 450px) {

  .inner-filter-btn {
    width: 46px;
    height: 24px;
    background-color: transparent;
    background-image: url(../assets/vacancy/Filter-icon.svg);
    background-position: center;
    background-repeat: no-repeat;

    .text {
      display: none;
    }
  }

}

