@import "varibles";
@import "mixin";

//top start

.top {
  margin-bottom: 80px;

  &__title {
    margin-bottom: 80px;
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: 98.023%;
    letter-spacing: -6.4px;
  }

  &__block {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    max-width: 1660px;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 80px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 5px;
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $colorGreyLight;
      border-radius: 20px;
    }

    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      overflow: hidden;
      min-width: 612px;
      width: 100%;
      height: 382px;
      padding: 20px 26px;
      border-radius: 30px;
    }

    &-img {
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-content {
      max-width: 429px;

      &__link {
        display: inline-block;
        margin-bottom: 8px;
      }

      &__title {
        font-size: 34px;
        font-weight: 700;
        line-height: 93.023%;
        letter-spacing: -1.8px;

        &.white {
          color: $colorWhite;
        }
      }
    }
  }

  &__search {
    @include displayFlex;
    gap: 24px;
    max-width: 831px;
    width: 100%;

    &:hover {
      .top__search-input {
        border-color: transparent;
      }
    }

    &-wrapper {
      position: relative;
      max-width: 682px;
      width: 100%;
    }

    &-input {
      width: 100%;
      height: 72px;
      padding: 0 20px;
      border: 2px solid $colorGreenM;
      border-radius: 40px;
      background-color: $colorBgInput;
      font-size: 25px;
      font-weight: 700;
      transition: all .3s ease;

      &:focus {
        border-color: transparent;
      }
    }

    &-btn {
      position: absolute;
      top: 50%;
      right: 30px;
      width: 24px;
      height: 24px;
      transform: translateY(-50%);
      background-image: url('../assets/inner/search-icon.svg');
      background-position: center;
      background-repeat: no-repeat;
      transition: all .15s ease-in-out;

      &:hover {
        transform: scale(1.2) translateY(-50%);
      }
    }

    &-filter-btn {
      display: none;
      width: 147px;
      height: 72px;
      border-radius: 40px;
      background-color: $colorGreenM;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: -0.36px;
      color: $colorWhite;
    }
  }
}

// top end

//vacancy start

.vacancy {
  &__quantity {
    margin-bottom: 64px;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
  }

  &__content {
    display: flex;
    margin-bottom: 52px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    max-width: 1251px;
    width: 100%;

    &-pagination {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;
    }

    &-page {
      padding: 8px;
      border-radius: 10px;
      border: 3px solid $colorOrangeM;
      font-size: 20px;
      font-weight: 600;
      color: $colorBlack;
      transition: all .3s ease;

      &:hover {
        background-color: $colorOrangeM;
        color: $colorWhite;
      }

      &.active {
        background-color: $colorOrangeM;
        color: $colorWhite;
      }
    }
  }
  &__item {
    max-width: 1251px;
    padding: 40px;
    color: $colorGrey;
    border-radius: 30px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    &-header {
      @include displayFlex;
    }

    &-content {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 32px;
      }
    }

    &-title {
      margin-bottom: 16px;
      font-size: 32px;
      font-weight: 700;
      line-height: 98.023%;
      letter-spacing: -1.6px;
    }

    &-salary {
      font-size: 32px;
      font-weight: 500;
      line-height: 98.023%;
      letter-spacing: -1.6px;
    }

    &-block {
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 32px;
      }
    }

    &-text {
      font-size: 20px;
      font-weight: 500;
      line-height: 98.023%;
      letter-spacing: -1px;
      &--type {
        display: inline-block;
        margin-top: 8px;
        padding: 8px;
        border-radius: 8px;
        background-color: $colorBlueBg;
      }
      &:first-of-type {
        margin-bottom: 8px;
      }
    }
    &-company {
      margin-bottom: 8px;
    }

    &-subtitle {
      font-family: inherit;
      color: $colorOrangeM;
    }

    &-btns {
      @include displayFlex;
      max-width: 358px;
      gap: 14px;
    }
  }
}

//vacancy end

@media(max-width: 1440px) {
  .top {
    &__title {
      font-size: 114px;
      letter-spacing: -5.7px;
    }

    &__block-item {
      min-width: 504px;
    }
  }


}

@media(max-width: 1024px) {

  .top {
    &__title {
      font-size: 80px;
      letter-spacing: -3.6px;
    }

    &__block {
      margin-bottom: 64px;
    }

    &__search {
      &-filter-btn {
        display: block;
      }
    }
  }

  .vacancy__falters {
    display: none;
  }

}

@media(max-width: 744px) {
  .top {
    &__title {
      margin-bottom: 64px;
      font-size: 58px;
      letter-spacing: -2.61px;
    }
  }
}

@media(max-width: 450px) {

  .top {
    &__title {
      margin-bottom: 32px;
      font-size: 28px;
      letter-spacing: -1.26px;
    }

    &__block-item {
      min-width: 320px;
      height: 240px;
    }

    &__search {
      &-input {
        height: 56px;
        font-size: 20px;

        &::placeholder {
          font-size: 20px;
        }
      }

      &-filter-btn {
        width: 46px;
        height: 24px;
        background-color: transparent;
        background-image: url(../assets/vacancy/Filter-icon.svg);
        background-position: center;
        background-repeat: no-repeat;

        .text {
          display: none;
        }
      }
    }
  }
}

