@import "varibles";
@import "mixin";

//inner start

.inner {
  margin-bottom: 80px;
}

.inner-slider {
  @include displayFlex;
  width: 100%;
  margin-bottom: 80px;
}

.inner-slider__item {
  position: relative;
  max-width: 504px;
}

.inner-slider__content {
  position: absolute;
  left: 18px;
  bottom: 40px;

  .slider-item__link {
  display: inline-block;
  margin-bottom: 10px;
  }

  .inner-slider__title {
    font-family: $fontInter;
    font-size: 34px;
    font-weight: 700;
    line-height: 34px;
  }

  .inner-slider__title.white {
      color: $colorWhite;
  }
}

.inner-search__wrapper {
  position: relative;
  width: 682px;

  .inner-search__input {
    width: 100%;
    height: 72px;
    padding: 0 20px;
    border-radius: 40px;
    background-color: $colorBgInput;
    font-size: 25px;
    font-weight: 700;
  }

  .inner-search__btn {
    position: absolute;
    top: 50%;
    right: 30px;
    width: 21px;
    height: 21px;
    transform: translateY(-50%);
    background-image: url('../assets/inner/search-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    transition: all .15s ease-in-out;

    &:hover {
      transform: scale(1.2) translateY(-50%);
    }
  }

}

// inner end
//vacancy start

.vacancy-filter-and-list {
  display: flex;
}

.vacancy-quantity {
  margin-bottom: 64px;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
}

.vacancy-falters {
  max-width: 333px;
  margin-right: 64px;
  padding: 40px;
}

.vacancy-filter__wrapper {
  max-width: 239px;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  .vacancy-filter__title {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
  }

  .vacancy-filter__block {
    @include displayFlex;
    justify-content: start;
    max-width: 192px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    .vacancy-filter__input {
      display: none;
    }

    .vacancy-filter-label {
      @include displayFlex;
      font-size: 20px;
      font-weight: 400;
      line-height: 22px;
      color: $colorBlack;
    }

    .vacancy-filter-label.radio {

      &:before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 16px;
        border-radius: 50%;
        background-image: url("@/assets/vacancy/radio.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .vacancy-filter__input:checked + .vacancy-filter-label.radio:before {
      background-image: url("@/assets/vacancy/radio-active.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    .vacancy-filter-label.check {

      &:before {
        content: '';
        display: block;
        min-width: 20px;
        min-height: 20px;
        margin-right: 16px;
        border-radius: 2px;
        background-image: url("@/assets/vacancy/cheack.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .vacancy-filter__input:checked + .vacancy-filter-label.check:before {
      background-image: url("@/assets/vacancy/cheack-active.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .vacancy-filter__block.exp {
    max-width: 220px;
  }

  .vacancy-filter__block.employ{
    max-width: 238px;
  }

  .vacancy-filter__input {
    height: 59px;
    padding: 18px 16px;
    border-radius: 8px;
    border: 1px solid #DFDFDF;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 400;
  }
}


.vacancy-list {
  width: 1251px;
}

.vacancy-item {
  max-width: 1251px;
  padding: 40px;
  color: $colorGrey;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.vacancy-item__header {
  @include displayFlex;
}

.vacancy-item__block {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 32px;
  }
}

.vacancy-item__title {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
  line-height: 98.023%;
  letter-spacing: -1.6px;
}

.vacancy-item__salary {
  font-size: 32px;
  font-weight: 500;
  line-height: 98.023%;
  letter-spacing: -1.6px;
}

.vacancy-item__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 98.023%;
  letter-spacing: -1px;

  &:first-child {
    margin-bottom: 16px;
  }
}

.vacancy-item__company {
  margin-bottom: 8px !important;
}

.vacancy-item__experince {
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  background-color: $colorBlueBg;
}

.vacancy-item__subtitle {
  color: $colorOrangeM
}

.vacancy-item__btns {
  @include displayFlex;
  max-width: 358px;
  gap: 14px;
}



//vacancy end


