$fontMont: 'Montserrat', sans-serif;
$fontInter: 'Inter', sans-serif;
$fontOpenS: 'Open Sans', sans-serif;


$colorGreenM: #248E9B;
$colorBlueBg: rgba(36, 142, 155, 0.27);
$colorGreenLight: #00B3C9;
$colorGreenDarker: #17707B;
$colorOrangeM: #E55B1C;
$colorOrangeDarker: #C93F00;
$colorOrangeLight: #FF8A36;
$colorNudeOrange: #FFE9DE;
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorGreyLight: #DFDFDF;
$colorGrey: #393939;
$colorGreyMedium: #939393;
$colorError: #DB2744;
$colorErrorBagk: #F8D5DB;
$colorBgInput: #D8E2E6;
$colorInputBorder: #A7A7A7;