@import "../varibles";
@import "../mixin";

.vacancy-card {
  max-width: 405px;
  padding: 20px;
  border-radius: 20px;
  background-color: #FFE9DE;
  color: $colorBlack;

  .vacancy-card__title {
    margin-bottom: 34px;
    font-weight: 600;
    font-size: 20px;
  }

  .vacancy-card__list {
    position: relative;
    margin-bottom: 37px;

    .vacancy-card-list__item {
      margin-left: 23px;
      font-size: 16px;
      line-height: 18px;

      &:before {
        content: "";
        position: absolute;
        left: 10px;
        transform: translateY(7px);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $colorBlack;
      }

      span {
        display: inline;
        color: #E55B1C;
      }
    }
    .vacancy-card-list__item:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  .vacancy-btns {
    @include displayFlex;
    max-width: 344px;

    .vacancy-btns-respond {
      font-size: 18px;
    }

    .vacancy-btns-favourites {
      font-size: 18px;
    }
  }
}
