@import "../main";
.modal-wrapper {
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 80, 124, 0.7);
}

.modal-window {
  position: relative;
  max-width: fit-content;
  width: calc(100vw - 20px);
  border-radius: 20px;
  background-color: #ffffff;
}

.modal-window-close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background-image: url('@/assets/close-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.modal-reg-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 36px;
}

.modal-title {
  margin-bottom: 45px;
  text-align: center;
  font-weight: 800;
  font-size: 25px;
  line-height: 42px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 319px;
}

.modal-form-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 289px;
}

.modal-form-name {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.modal-form-block:not(:last-of-type) {
  margin-bottom: 20px;
}

.modal-form__submit {
  margin: 40px 0;
}

.modal-form-login {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.modal-form__input {
  width: 100%;
  height: 50px;
  padding: 18px 8px;
  border-radius: 20px;
  border: 2px solid #393939;
  font-weight: 400;
  font-size: 18px;
  color: #000;

  &:focus {
    border-color: #E55B1C;
  }
}

.modal-form__submit {
  font-weight: 800;
  font-size: 16px;
}

.modal-form__password-wrapper {
  position: relative;
}

.modal-form__hide {
  z-index: 2;
  position: absolute;
  right: 16px;
  top: 16px;
  transition: transform .2s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

.modal-form__input.error {
  border-color: #DB2744 !important;
  color: #DB2744 !important;
}

.modal-wrapper-input {
  position: relative;
}

.icon-error {
  position: absolute;
  top: 13px;
  right: 14px;
  width: 24px;
  height: 24px;
  background-image: url(@/assets/error-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-input-error {
  display: inline-block;
  float: right;
  margin-top: 2px;
  padding: 2px 18px;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #DB2744;
  border-radius: 10px;
  background-color: #F8D5DB;
}

//modal reg start

.modal-reg-step-two {
  display: flex;
  flex-direction: column;
}

.modal-form-label {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;

  &:first-child {
    margin-bottom: 5px;
  }
}

//modal reg end

//modal log start

.modal-form-log {
  width: 268px;
}

.modal-title-reg {
  margin-bottom: 32px;
}

.modal-form-password-reset {
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  color: #E55B1C;
}

.modal-form__hide {
  width: 20px;
  height: 20px;
  color: #e55b1c;
  background-position: center;
  background-repeat: no-repeat;
}

//modal log end

//modal reset start

.modal-form-reset {
  width: 395px;
}

//modal reset end

// modal switch start

.modal-switch {
  &-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 477px;
  width: calc(100vw - 20px);
  padding: 64px;
  }
  &__block {
    @include displayFlex;
    gap: 16px;
  }
  &__btn {
    padding: 28px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 800;
    line-height: 167%;
    color: $colorWhite;
    background-color: $colorOrangeM;
  }
}

// modal switch end

@media (max-width: 551px) {

  .modal {
    &-title {
      margin-bottom: 20px;
      line-height: 28px;
    }
  }

  .modal-switch {
    &-wrapper {
      padding: 48px;
    }
    &__block {
      flex-direction: column;
    }
    &__btn {
      padding: 18px 10px;
    }
  }

}

@media (max-width: 451px) {
  .modal-reg-wrapper {
    padding: 48px 28px;
  }
}
