@import "../main";

.notification {
  z-index: 100;
  position: absolute;
  right: 11%;
  top: 85px;
  max-width: 330px;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: $colorWhite;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.06);
  &__list {
    width: 290px;
    height: 130px;
    //padding-right: 10px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $colorOrangeM;
      border-radius: 5px;
    }
  }
  &__item {
    max-width: 270px;
    width: 100%;
    height: 50px;
    padding: 10px 5px 0 5px;
    background-color: $colorWhite;
    border: 1px solid $colorOrangeM;
    border-radius: 5px;
    cursor: pointer;
    transition: all .10s ease;
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &.read {
      opacity: .5;
    }
    &.active {
      height: auto;

      .notification__item-text {
        overflow: visible;
        white-space: normal;

      }
    }

    &-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

@media(max-width: 768px) {

}