@import "../varibles";

.reviews-slider__item {
  max-width: 405px;
  padding: 20px;
  color: $colorBlack;
  letter-spacing: -0.05em;

  .slider-item__title {
    max-width: 287px;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
  }

  .slider-item-text {
    height: 104px;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }

  .slider-item-person {
    display: flex;
    align-items: center;

    .slider-item-person-image {
      margin-right: 16px;
    }

    .slider-item-person__info-name {
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
    }

    .slider-item-person__info-post {
      line-height: 18px;
    }
  }
}