@import "../main.scss";

.profile-edit__title {
  margin-bottom: 64px;
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -1.6px;
}

.profile-edit__block {
  position: relative;
  display: inline-grid;
  grid-template-columns: repeat(2, minmax(300px, 384px));
  align-items: end;
  gap: 24px;

  &:not(:last-child) {
    margin-bottom: 64px;
  }

  &:last-child {
    display: none;
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    gap: 0;
  }
}

.profile-edit__block.about {
  display: block;
}

.profile-edit__field {
  max-width: 383px;
}

.profile-edit__field.about {
  max-width: 100%;
}

.profile-edit__field__name {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 400;
  line-height: 23.5px;
  letter-spacing: -1.2px;
}

.profile-edit__data {
  width: 100%;
  height: 73px;
  padding: 20px 24px;
  border-radius: 16px;
  border: 2px solid $colorInputBorder;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -1.2px;

  &::placeholder {
    letter-spacing: 1px;
    color: $colorInputBorder;
  }

  &:focus {
    border-color: $colorGreenM;
    color: $colorGreenM;
  }
}

.profile-edit__data.contact {
  padding-left: 72px;
}

.profile-edit__data.about {
  min-height: 109px;
  padding: 40px;
}

.profile-edit__connection__img {
  position: absolute;
  left: 24px;
  transform: translateY(60%);
  width: 32px;
  height: 32px;
}

.profile-edit__field.contact {
  position: relative;
  width: 100%;
}

.profile-edit-save {
  max-width: 404px;
  padding: 28px 40px;
  border: 2px solid $colorInputBorder;
}

.profile-edit__save {
  @include buttonGreen;
  padding: 15px 50px;
  margin-bottom: 16px;
}

.profile-edit__cancel {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.4px;
  color: $colorGreenM;
  text-decoration: underline;
  text-underline-offset: 4px;
}

@media (max-width: 1024px) {
  .profile-edit__block {

    &:last-child {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}