//@import "../varibles";
//@import "../mixin";
@import "../main";

.vacancy-card {
  max-width: 405px;
  padding: 20px;
  border-radius: 20px;
  background-color: #FFE9DE;
  color: $colorBlack;
  &__title {
    margin-bottom: 34px;
    font-weight: 600;
    font-size: 20px;
  }
  &__list {
    position: relative;
    margin-bottom: 37px;
  }
  &__item {
    margin-left: 23px;
    font-size: 16px;
    line-height: 18px;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &:before {
      content: "";
      position: absolute;
      left: 10px;
      transform: translateY(7px);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $colorBlack;
    }
  }
  &__text {
    word-wrap: break-word;
    color: $colorBlack;
  }
  &__signature {
    color: $colorOrangeM;
  }
  &__btns {
    @include displayFlex;
    max-width: 344px;
  }
  &__response {
    font-size: 18px;
  }
  &__favourites {
    font-size: 18px;
  }
}
