@use "@/style/abstracts/varibles" as *;
@use "@/style/abstracts/mixin" as *;

.heading {
  max-width: 1440px;
  width: 100%;
  margin-bottom: 80px;

  &__title {
    font-size: 128px;
    font-weight: 700;
    line-height: 98.023%;
    letter-spacing: -6.4px;
  }
}

@media(max-width: 1441px) {
  .heading {

    &__title {
      font-size: 114px;
      letter-spacing: -5.7px;
    }
  }
}

@media(max-width: 1025px) {
  .heading {
    margin-bottom: 64px;

    &__title {
      font-size: 80px;
      letter-spacing: -3.6px;
    }
  }
}

@media(max-width: 769px) {
  .heading {
    margin-bottom: 64px;

    &__title {
      font-size: 58px;
      letter-spacing: -2.61px;
    }
  }
}

@media(max-width: 451px) {
  .heading {
    margin-bottom: 32px;

    &__title {
      font-size: 36px;
      letter-spacing: -1.26px;
    }
  }
}