.slider__item {
  &-title {
    max-width: 405px;
    padding: 20px;
    color: $colorBlack;
    letter-spacing: -0.05em;
  }
  &-text {
    height: 104px;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }
  &-person {
    display: flex;
    align-items: center;
    &__image {
      margin-right: 16px;
    }
    &__name {
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
    }
    &__post {
      line-height: 18px;
    }
  }
}
