{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Модальное окно</h1>

        <button id="open__model">Open popup</button>
    </div>

    <div class="modal" id="my__modal">
        <div class="modal__box">
            <div class="modal__top">
                <button class="modal__close"></button>
            </div>
        <form action="" class="modal__box-form">
            <input type="text" class="form-name" placeholder="name">
            <input type="tel" class="form-tel" placeholder="number">
            <input type="email" class="form-email" placeholder="email">
        </form>
            <input type="submit">
        </div>
    </div>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>